<br>
<br>
<br>
<h1 align="center">All of your RRD information, on the cloud</h1>
<div id="wrapper">
    <div id="slider-wrapper">
        <div id="slider" class="nivoSlider">
            <img src="/images/slider/toystory.jpg" alt="" />
            <a href="http://dev7studios.com"><img src="/images/slider/up.jpg" alt="" title="This is an example of a caption" /></a>
            <img src="/images/slider/walle.jpg" alt="" />
            <img src="/images/slider/nemo.jpg" alt="" title="#htmlcaption" />
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
            <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
        </div>  
    </div>
</div>
<center><a href="/"><img src="/images/download.jpg" alt="rrdCloud" /></a></center>

<script type="text/javascript" src="/javascripts/slider/jquery.nivo.slider.pack.js"></script>

<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider();
});
</script>


