<div id="footer"> 
	<hr>
    <div style="margin: 0 auto"> 
        <p id="copyright"> 
             &copy; 2011 RRDcloud<br/> 
        </p> 
        <div class="footer-col"> 
            <ul> 
                <li class="header">RRDcloud</li> 
                <li><a href="/">Home</a></li> 
                <li><a href="/pricing">Pricing</a></li> 
                <li><a href="/features">Features</a></li> 
            </ul> 
        </div> 
        <div class="footer-col"> 
            <ul> 
                <li class="header">Support</li> 
                <li><a href="/faq">FAQ</a></li> 
                <li><a href="#" onclick="return Home.showFeedback();">Feedback</a></li> 
                <li><a href="/contact">Contact Us</a></li> 
            </ul> 
        </div> 
        <div class="footer-col"> 
            <ul> 
                <li class="header">About Us</li> 
                <li><a href="http://blog.rrdcloud.com/">RRDcloud Blog</a></li> 
                <li><a href="/about">Our Team</a></li> 
                <li><a href="/terms">Policies</a></li> 
            </ul> 
        </div> 
        <div class="clear"></div> 
    </div> 
</div> 
